.container{
    position:sticky;
    top:0;
}
.nav-link{
    color:#f6682c;
    font-size:4vh;
    font-family:fantasy;
}
.nav-link:hover{
    color: #08d0b5;
}
.nav-item.dropdown .dropdown-menu {
    display: none;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.jumboContainer{
    background-color: #08d0b5;
}
h1{
    color:#f6682c;
    font-size: 6rem;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color:#08d0b5;
    font-size: 6rem;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contentContainer{
    background-color: rgba(255,255,255,.75)
}
.classImg{
    border: 4px, solid, #08d0b5;
    padding: 1rem;
}
.btnClass, .jumboBtn{
    background-color: #fbe827;
    border: 2px, solid, black;
}
.btnClass:hover, .jumboBtn:hover{
    background-color: #fbe82740;
    border:2px, solid, black;
}
.jumboBtn{
    border:2px, solid, black;
}